In [73]:
import pandas as pd
df = pd.read_csv('dataset/ml-latest-small/ratings.csv',sep=',')

In [74]:
df

        userId  movieId  rating   timestamp
0            1        1     4.0   964982703
1            1        3     4.0   964981247
2            1        6     4.0   964982224
3            1       47     5.0   964983815
4            1       50     5.0   964982931
...        ...      ...     ...         ...
100831     610   166534     4.0  1493848402
100832     610   168248     5.0  1493850091
100833     610   168250     5.0  1494273047
100834     610   168252     5.0  1493846352
100835     610   170875     3.0  1493846415

[100836 rows x 4 columns]

In [75]:
df = df.assign(rating=1)

In [76]:
df = df.drop(columns='timestamp')

In [77]:
df

        userId  movieId  rating
0            1        1       1
1            1        3       1
2            1        6       1
3            1       47       1
4            1       50       1
...        ...      ...     ...
100831     610   166534       1
100832     610   168248       1
100833     610   168250       1
100834     610   168252       1
100835     610   170875       1

[100836 rows x 3 columns]

In [78]:
import random

In [70]:
len(df)

100836

In [72]:
df = df.assign(rating=1)
userdict = {}
for index, row in df.iterrows():
    try:
        userdict[row['userId']].append(row['movieId'])
    except KeyError:
        userdict.setdefault(row['userId'], [])
        userdict[row['userId']].append(row['movieId'])

item_list = df['movieId'].values.tolist()
num_item=df["movieId"].nunique()
for index, row in df.iterrows():
    for i in range(0,4):
        tmp_id = random.randint(0,num_item)
        while item_list[tmp_id] in userdict[row['userId']]:
            tmp_id = random.randint(0,num_item)
        userdict[row['userId']].append(item_list[tmp_id])
        tmp_df = pd.DataFrame([[row['userId'], item_list[tmp_id], 0]], columns=['userId', 'movieId', 'rating'])
        df=pd.concat([df,tmp_df])

KeyboardInterrupt:

In [83]:
len(df)
import numpy as np

In [87]:
users, items, labels = [], [], []
user_item_set = set(zip(df['userId'], df['movieId']))
all_movieIds = df['movieId'].unique()
# negative feedback dataset ratio
negative_ratio = 4
for u, i in user_item_set:
    # positive instance
    users.append(u)
    items.append(i)
    labels.append(1)
    # negative instance
    for i in range(negative_ratio):
        # first item random choice
        negative_item = np.random.choice(all_movieIds)
        # check if item and user has interaction, if true then set new value from random
        while(u, negative_item) in user_item_set:
            negative_item = np.random.choice(all_movieIds)
        users.append(u)
        items.append(negative_item)
        labels.append(0)

In [91]:
len(labels)

504180

In [92]:
df2 = pd.DataFrame(list(zip(users,items,labels)), columns=['userId', 'movieId', 'rating'])

In [93]:
len(df2)

504180